/*------------------------------------------------------------
						 ~ Variable ~
------------------------------------------------------------*/

:root {
	--card-radius: 40px;
	--radius-norm: 8px;
	--radius-middle: 20px;
	--font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

@media (prefers-color-scheme: light) {
	:root {
		/* Texts */
		--default-color: #000000de;
		--text-secondary: #000000c8;
		--text-tertiary: #0000005c;

		/* Colors */
		--bg-color: white;
		--card-color: #dadada;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Texts */
		--default-color: #ffffffde;
		--text-secondary: #ffffffc8;
		--text-tertiary: #d4d4d466;

		/* Colors */
		--bg-color: #161616;
		--card-color: #2b2b2b;
	}
}



/*------------------------------------------------------------
						   ~ Global ~
------------------------------------------------------------*/
html {
	background-color: var(--bg-color);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

* {
	font-family: var(--font-family);
	color: var(--default-color);
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
	transition-duration: .1s;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
}

p {
	-webkit-user-select: text;
	user-select: text;
	line-height: 150%;
}

h2 {
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 400;
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

main>section {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	width: 100%;
	align-items: center;
	padding-top: 150px;
	max-width: 2000px;
}

main>section:first-child {
	padding-top: 0px;
}


button {
	border: 0;
	border-radius: var(--radius-norm);
}


::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px 10px transparent;
	border: solid 3px transparent;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.2);
	border: solid 3px transparent;
	border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
	box-shadow: inset 0 0 10px 10px rgba(255, 255, 255, 0.4);
}



.hidden {
	display: none;
}

/*------------------------------------------------------------
							~ NavBar ~
------------------------------------------------------------*/

header {
	position: sticky;
	top: 10px;
	margin: 10px;
	z-index: 10000;
}

nav {
	min-height: 50px;
	background: rgb(0 0 0 / 50%);
	border-radius: var(--radius-norm);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
}

nav img {
	width: 20px;
}

nav section a {
	margin: 0 40px;
	text-decoration: none;
}

.hambuger {
	display: none;
	background-color: #00000000;
	font-size: 200%;
}




/*------------------------------------------------------------
						  ~ Home ~
------------------------------------------------------------*/

#home {
	height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://i.imgur.com/CRj0gt9.jpg);
	background-size: cover;
	background-position: center;
	margin-top: -70px;
}

#home>section {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#home h2 {
	font-size: 40 0%
}

#home h3 {
	font-size: 200%;
	font-weight: 400;
}


/*------------------------------------------------------------
						  ~ About Me ~
------------------------------------------------------------*/

#aboutMe h4 {
	font-size: 130%;
	align-items: center;
	display: flex;
}

#aboutMe h2 {
	margin-bottom: 25px;
}

#aboutMe>section {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 80%;
	flex-wrap: wrap;
	align-items: center;
}

#aboutMe article {
	padding: 20px 20px;
	max-width: 450px;
}

#aboutMe article>p {
	text-align: justify;
}

#aboutMe>p {
	max-width: 1000px;
	text-align: center;
}

/*------------------------------------------------------------
						  ~ Compétences ~
------------------------------------------------------------*/


#competences {
	width: 90%;
}

#competences section {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

#competences div, #projects div {
	text-align: center;
	max-width: 370px;
	padding: 10px 20px;
	margin: 5px;
	background-color: var(--card-color);
	border-radius: var(--radius-norm);
}


#competences h3:after {
	display: block;
	height: 2px;
	background-color: #cf6d17;
	content: " ";
	width: 100px;
	margin: 10px auto 0;
}

#competences img{
	width: 50px;
	padding: 10px;
}

#competences img:hover {
	width: 60px;
	padding: 5px;
}





/*------------------------------------------------------------
						  ~ Pictures ~
------------------------------------------------------------*/

#pictures {
	display: flex;
	flex-direction: row;
	transform: rotate(-5deg);
	width: 100%;
	overflow: hidden;
	flex-wrap: nowrap;
	margin-left: -60px;
}

#pictures>section {
	width: 120vw;
	overflow: hidden;
	display: flex;
	margin-right: -200px;
	flex-direction: row;
}

#pictures img {
	width: 25%;
	clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
	margin-left: -100px;
}

#pictures img:last-child {
	clip-path: polygon(25% 0%, 100% 0, 100% 100%, 0% 100%);

}







/*------------------------------------------------------------
						  ~ Projets ~
------------------------------------------------------------*/

#projects>section {
	display: flex;
	flex-wrap: wrap;
	width: 90%;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 100px;
}

#projects article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	max-width: 98%;
	width: 350px;
	border-radius: var(--radius-norm);
	margin-top: 50px;
	/*Responsive*/
}

#projects>section>article {
	min-height: 500px;
}

#projects article>section {
	padding: 0 20px;
	display: flex;
	align-items: center;
	flex-direction: column;
	text-align: center;
}

#projects a {
	margin-bottom: -20px;
	height: 40px;
	min-width: 120px;
}

#projects button {
	background-color: black;
	width: 100%;
	height: 100%;
}


#projects article>img {
	width: 100px;
	height: 100px !;
	padding: 5px;
	margin-top: -60px;
	border-radius: 100px;
}

#projects div{
	margin-bottom: 10px;
}

#projects article>section>div img{
	width: 40px;
	padding: 10px;
}



.ade {
	background-image: url(https://ade.pages.dev/Ressources/img/bloom-mica-dark.png);
	background-size: cover;
	filter: brightness(1.3);
}

.ade article>img {
	background-color: #16304f;
	box-shadow: 2px 3px 10px #00306494;
}


.autoCars {
	background-image: url(../img/bg.jpg);
	background-size: cover;
}

.autoCars article>img {
	background-color: #989898;
	box-shadow: 2px 3px 10px #2828282f;
	filter: invert();
}



.portfolio {
	background-color: var(--card-color);
}

.portfolio article>img {
	background-color: #543c1d;
	box-shadow: 2px 3px 10px #523b00a3;
}





/*------------------------------------------------------------
						~ Contributions ~
------------------------------------------------------------*/

#contributions {
	flex-direction: row;
}

#contributions article {
	margin-top: 30px;
	max-width: 750px;
	height: 250px;
	padding: 10px 20px;
	background-color: rgb(0, 103, 103);
	display: flex;
	align-items: center;
	border-radius: var(--card-radius);
}

#contributions article:first-child {
	margin-top: 0;
}

.description {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 40px;
}

.description p {
	text-align: justify;
}

#contributions img {
	width: 100px;
}

.xiaomiHome {
	background: -webkit-linear-gradient(135deg, #2cb02ac9, #44d1bec9);
	box-shadow: 3px 5px 15px #005b08a3;
}

.traductions {
	background: -webkit-linear-gradient(175deg, #c30000c9, #3c41d8c9);
	box-shadow: 3px 5px 15px #5b003ea3;
}

.traductions img {
	border-radius: 35px;
	width: 100px;
	height: 100px;
}

.productTesting {
	background: -webkit-linear-gradient(115deg, #a69515, #c6601f);
	box-shadow: 3px 5px 15px #5b4100a3;
	/* background: -webkit-linear-gradient(115deg, #dea92c, #de712c); */
}




/*------------------------------------------------------------
						~ Contacts ~
------------------------------------------------------------*/

#contact>section {
	background-image: url(https://ade.pages.dev/Ressources/img/bloom-mica-dark.png);
	background-size: cover;
	width: 95%;
	max-width: 750px;
	height: 470px;
	border-radius: var(--radius-middle);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	filter: brightness(1.5);
}

#contact h2 {
	margin: 0 0 20px;
}


#contact form {
	width: 100%;
}

#contact form>section {
	display: flex;
	justify-content: space-around;
}

#contact form>section {
	margin-top: 20px;
}

#contact h4 {
	width: 200px;
	text-align: end;
}

input[type=text] {
	width: 450px;
	max-width: 80%;
	background: rgba(0, 0, 0, 0.5);
	border-radius: var(--radius-norm);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	border: 0;
	padding: 0 15px;
	min-height: 38px;
}

.message {
	height: 230px;
}


#contact button {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 10px 30px;
}

#contact button:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

ion-icon {
	font-size: 35px;
	padding: 0 10px;
	color: white;
}

ion-icon:hover {
	color: #2386fe;
}

.socialsMedias ion-icon {
	font-size: 25px;
	margin-bottom: 15px;
}


#contact a {
	text-decoration: none;
}