/*------------------------------------------------------------
						 ~ Variable ~
------------------------------------------------------------*/

:root {
	--card-radius: 40px;
	--radius-norm: 8px;
	--radius-middle: 20px;
	--font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

}

@media (prefers-color-scheme: light) {
	:root {
		/* Texts */
		--default-color: #000000de;
		--text-secondary: #000000c8;
		--text-tertiary: #0000005c;

		/* Colors */
		--bg-color: white;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		/* Texts */
		--default-color: #ffffffde;
		--text-secondary: #ffffffc8;
		--text-tertiary: #d4d4d466;

		/* Colors */
		--bg-color: #161616;
	}
}



/*------------------------------------------------------------
						   ~ Global ~
------------------------------------------------------------*/
html {
	background-color: var(--bg-color);
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}

* {
	font-family: var(--font-family);
	color: var(--default-color);
	-webkit-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: .5em 0;
}

h2 {
	text-transform: uppercase;
	font-size: 55px;
	font-weight: 400;
	margin: 0;
}


main>section {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	padding-top: 150px;
}


/*------------------------------------------------------------
							~ NavBar ~
------------------------------------------------------------*/

header {
	position: sticky;
	top: 10px;
	margin: 10px;
}

nav {
	height: 50px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: var(--radius-norm);
	-webkit-backdrop-filter: blur(20px);
	backdrop-filter: blur(20px);
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	padding: 0 30px;
}

nav img {
	width: 20px;
}

nav section a {
	margin: 0 40px;
}







/*------------------------------------------------------------
						  ~ Projets ~
------------------------------------------------------------*/

#projects>section {
    display: flex;
    flex-wrap: wrap;
	width: 90%;
	justify-content: space-evenly;
	align-items: center;
}

#projects article {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
    max-width: 98%;
    width: 350px;
	border-radius: var(--radius-norm);
	background-color: #a69515;
	margin-top: 50px;
}

.project-small {
	min-height: 500px;
}

button {
    padding: 8px 28px;
    background-color: black;
    border: 0;
    border-radius: var(--radius-norm);
}



/*------------------------------------------------------------
						~ Contributions ~
------------------------------------------------------------*/

#contributions {
	flex-direction: row;
}

#contributions article {
	margin-top: 30px;
	max-width: 750px;
	height: 200px;
	padding: 10px 20px;
	background-color: rgb(0, 103, 103);
	display: flex;
	align-items: center;
	border-radius: var(--card-radius);
}

#contributions article:first-child {
	margin-top: 0;
}

.description {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-right: 40px;
}

#contributions img {
	width: 100px;
}

.xiaomiHome {
	background: -webkit-linear-gradient(135deg, #2cb02ac9, #44d1bec9);
	box-shadow: 3px 5px 15px #005b08a3;
}

.traductions {
	background: -webkit-linear-gradient(175deg, #c30000c9, #3c41d8c9);
	box-shadow: 3px 5px 15px #5b003ea3;
}

.productTesting {
	background: -webkit-linear-gradient(115deg, #a69515, #c6601f);
	box-shadow: 3px 5px 15px #5b4100a3;
	/* background: -webkit-linear-gradient(115deg, #dea92c, #de712c); */
}




/*------------------------------------------------------------
						~ Contacts ~
------------------------------------------------------------*/

#contact>section {
	background-image: url(https://ade.pages.dev/Ressources/img/bloom-mica-dark.png);
	background-size: cover;
	width: 95%;
	max-width: 850px;
	height: 470px;
	border-radius: var(--radius-middle);
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: end;
	flex-direction: column;
	filter: brightness(1.5);
}

#contact h2 {
	margin: 0 0 20px;
}

ion-icon {
	font-size: 35px;
	padding: 0 10px;
	color: white;
}

ion-icon:hover {
	color: #2386fe;
}

.socialsMedias section:last-child ion-icon {
	font-size: 25px;

}

.socialsMedias section:first-child {
	margin-bottom: 15px;
}